[Desktop Entry]
Type=Application
Name=RomRaider Logger
Exec=env ROMRAIDER_MODE=logger @BINDIR@/launch-romraider
Icon=applications-engineering
Terminal=false
Categories=Utility;Engineering;
StartupNotify=true
