[Desktop Entry]
Type=Application
Name=Ecu Tools Setup
Comment=Install, repair, check, or remove Subaru and Lancer Evolution ECU tools
Exec=@SETUP@
Icon=applications-engineering
Terminal=true
Categories=X-Subaru-Evo-ECU-Tools;
StartupNotify=true
